<!doctype html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<meta name="author" content="iThemesLab">
	<meta name="description" content="">

	<title>Maestro Dukon - Pag. Error</title>

	<!-- favicons -->
	<link rel="shortcut icon" href="../assets/favicon/logo.ico">
	<link rel="apple-touch-icon" href="../assets/favicon/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../assets/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../assets/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../assets/favicon/apple-touch-icon-144x144.png">

	<link
		href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
		rel="stylesheet">

	<!-- bootstrap css -->
	<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
	<!-- fontawesome and flaticon font -->
	<link rel="stylesheet" href="../assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="../assets/css/flaticon.css">

	<!-- revolution slider css -->
	<link rel="stylesheet" href="../assets/css/settings.css">
	<link rel="stylesheet" href="../assets/css/layers.css">
	<link rel="stylesheet" href="../assets/css/navigation.css">

	<!-- hover css -->
	<link rel="stylesheet" href="../assets/css/hover-min.css">
	<!-- owl carousel css -->
	<link rel="stylesheet" href="../assets/css/owl.carousel.css">
	<!-- magnific popup css -->
	<link rel="stylesheet" href="../assets/css/magnific-popup.css">

	<!-- theme style css -->
	<link rel="stylesheet" href="../assets/css/style.css">

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
	<!--[if lt IE 9]>
	      <script src="../assets/js/html5shiv.js"></script>
	      <script src="../assets/js/respond.min.js"></script>
	    <![endif]-->

</head>

<body class="parallax bgc" style="background-image: url('../assets/images/parallax-bg/fondo1B.jpg');">

	<div class="main-container">

		<!-- page content start -->
		<div class="404 page-content pad200">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="info">
							<center>
								<h1>ERROR</h1>
								<center>
									<center>
										<h2>Página no encontrada</h2>
										<center>
											<center <p>Su usuario o su clave no coincide.</p>
												<a href="index.html" class="btn btn-primary hvr-sweep-to-right">Regrese
													a Ingreso</a>
												<center>
						</div>
					</div>
				</div>
			</div> <!-- /.container -->
		</div>
		<!-- page content end -->

	</div> <!-- /.main-container -->

	<!-- load jquery -->
	<script src="../assets/js/jquery-2.2.2.min.js"></script>
	<!-- load bootstrap -->
	<script src="../assets/js/bootstrap.min.js"></script>

	<!-- revolution slider js files -->
	<script src="../assets/js/jquery.themepunch.tools.min.js"></script>
	<script src="../assets/js/jquery.themepunch.revolution.min.js"></script>
	<!-- odometer js -->
	<script src="../assets/js/jquery.appear.js"></script>
	<!-- countTo js -->
	<script src="../assets/js/jquery.countTo.js"></script>
	<!-- isotope js -->
	<script src="../assets/js/isotope.pkgd.min.js"></script>
	<!-- owl carousel js -->
	<script src="../assets/js/owl.carousel.min.js"></script>
	<!-- magnific popup js -->
	<script src="../assets/js/jquery.magnific-popup.min.js"></script>

	<script type="text/javascript" src="../assets/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="../assets/js/extensions/revolution.extension.carousel.min.js"></script>
	<script type="text/javascript" src="../assets/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="../assets/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="../assets/js/extensions/revolution.extension.migration.min.js"></script>
	<script type="text/javascript" src="../assets/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="../assets/js/extensions/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript" src="../assets/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="../assets/js/extensions/revolution.extension.video.min.js"></script>

	<!-- load theme js script file -->
	<script src="../assets/js/itl_script.js"></script>

</body>

</html>