<!DOCTYPE html>

<html lang="es">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<meta name="author" content="iThemesLab">
	<meta name="description" content="">

	<title>Maestro Dukón</title>

	<!-- load google font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
		rel="stylesheet">


	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- theme style css -->
	<link rel="stylesheet" href="../../assets/css/project.css">

</head>

<body>

	<div class="main-container">

		<!-- header start -->
		<header id="header" class="header">
			<div class="container">
				<nav class="navbar">
					<div class="navbar-header">
						<button class="navbar-toggle" type="button" data-toggle="collapse"
							data-target=".js-navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="../index.html">
							<div class="logo">
								<img src="../../assets/images/logo/logo.png" class="img-responsive" alt="Dukon"
									style="width: 220px; height:60px;">
							</div>
						</a>
					</div>

					<div class="collapse navbar-collapse js-navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="../../index.php" class="dropdown-toggle">HOME</a>
								<!--<ul class="dropdown-menu">
									<li><a href="index-builder.html">Builders</a></li>
									<li><a href="index-carpenter.html">Carpenter</a></li>
									<li><a href="index-plumber.html">Plumber</a></li>
									<li><a href="index-repairman.html">Repairman</a></li>
								</ul>-->
							</li>
							<li class="dropdown">
								<a href="./auth.php" class="dropdown-toggle">INGRESO</a>
								<!--<ul class="dropdown-menu">
									<li><a href= "regis/ingreso.html">INGRESO</a></li>
									<li><a href="about-us-2.html">About Us 2</a></li>
									<li><a href="about-us-3.html">About Us 3</a></li>
								</ul>-->
							</li>
							<li class="active dropdown">
								<a href="./project.html" class="dropdown-toggle">NUESTRO PROYECTO</a>
								<!--<ul class="dropdown-menu">
									<li><a href="our-service-1.html">Our service 1</a></li>
									<li><a href="our-service-2.html">Our service 2</a></li>
									<li><a href="our-service-3.html">Our service 3</a></li>
								</ul>-->
							</li>
							<li class="dropdown">
								<a href="./team.html" class="dropdown-toggle">GRUPO EJECUTOR</a>
								<!--<ul class="dropdown-menu">
									<li><a href="project-4-col.html">Project 4 column</a></li>
									<li><a href="project-3-col.html">Project 3 column</a></li>
									<li><a href="project-2-col.html">Project 2 column</a></li>
									<li><a href="project-masonry.html">Project Masonry</a></li>
								</ul>-->
							</li>
							<li class="dropdown">
								<a href="blog-standard.html" class="dropdown-toggle" data-toggle="dropdown"> </a>
								<ul class="dropdown-menu">
									<li><a href="blog-standard.html">Blog standard</a></li>
									<li><a href="blog-full-width.html">Blog full width</a></li>
									<li><a href="blog-right-sidebar.html">Blog right sidebar</a></li>
									<li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
									<li><a href="single-post.html">Single post</a></li>
								</ul>
							</li>
						</ul>
					</div><!-- /.nav-collapse -->
				</nav>
			</div>

		</header> <!-- /header -->
		<!-- header end -->



		<!-- page title & breadcrumbs start -->
		<div class="page-head parallax" style="background-image: url('../../assets/images/parallax-bg/telarbg.webp');">
			<div class="container">
				<div class="row">

					<div class="col-md-5"">
						<h2 style=" color: white;">Project</h2>
					</div> <!-- /.col -->
					<div class="col-md-7">
						<ol class="breadcrumb">
							<li><a href="../../index.html" style="color: white;">Home</a></li>
							<li><a href="#" style="color: white;">Project</a></li>
						</ol>
					</div> <!-- /.col -->

				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.page-header -->
		<!-- page title & breadcrumbs end -->

		<!-- about section start -->
		<section class="t-pad80">
			<div class="container">
				<div class="row">

					<div class="col-md-7">
						<h3 class="title t-left">GAES 2 <span>melocotón</span></h3>
						<p>Como grupo de formación en el programa de Análisis y Desarrollo de Sistemas de Información
							desarrollamos el proyecto <strong> "Implementación de un sistema web para mejorar
								la
								eficiencia en el proceso de comercialización, ventas y posicionamiento de marca de la
								empresa Maestro Dukón ". </strong> El proyecto se caracteriza por resolver algunas
							falencias como:</p>

						<div class="row">

							<div class="col-md-6">
								<ul class="fa-ul">
									<li><i class="fa fa-gg"></i> Desconocimiento de herramientas digitales</li>
									<li><i class="fa fa-gg"></i> Posibles mejoras en estrategia digital</li>
									<li><i class="fa fa-gg"></i> Gestión de inventario no sistematizada</li>
								</ul>
							</div> <!-- /.col -->

							<div class="col-md-6">
								<ul class="fa-ul">
									<li><i class="fa fa-gg"></i> Deficiencia en el proceso de ventas</li>
									<li><i class="fa fa-gg"></i> Deficiencia en el posicionamiento de la empresa</li>
									<li><i class="fa fa-gg"></i> Limitación en las ventas</li>
								</ul>
							</div> <!-- /.col -->

						</div> <!-- /.row -->


					</div> <!-- /.col -->

					<div class="col-md-4">
						<img src="../../assets/images/team/team_illustration.webp" alt="TeamIllustration"
							class="img-responsive mt3">
					</div> <!-- /.col -->

				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</section>
		<!-- about section end -->

		<!-- short feature start -->
		<section class="drk-bg pad80 mt40">
			<div class="container">

				<h2 class="kaushan mb40 " style="color: #fec323;">Justificación del projecto</h2>

				<div class="center" style=" display:flex; justify-content: center; align-items: center; ">

					<p style="color: white; font-size: 1.5rem; font-weight: 300; max-width: 95vw;">"Se quiere aplicar
						estrategias
						comerciales y digitales
						junto con una gestión de inventario
						sistematizada para obtener una eficiencia y alcance en el proceso de comercialización, ventas y
						posicionamiento de la empresa de artesanías Maestro Dukon.

						Esto, con el objetivo de tomar decisiones acertadas, Optimizar tiempo, posicionar la imagen
						corporativa y finalmente obtener ganancias económicas que lleven a una expansión comercial de la
						empresa "
					</p>

				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</section>
		<!-- short feature end -->


		<!-- about section start -->
		<section class="t-pad80 " style="margin-bottom: 50px;">
			<div class="container">
				<div class="row">

					<div class="col-md-4">
						<img src="../../assets/images/sales.webp" alt="TeamIllustration" class="img-responsive mt3">
					</div> <!-- /.col -->

					<div class="col-md-7">
						<p>Nuestro objetivo es <strong> Diseñar e implementar un sistema web para mejorar la eficiencia
								en el proceso de comercialización, ventas y posicionamiento de artesanías Maestro Dukon
								de San Gil.
							</strong> Esto se divide en </p>


						<div class="row">

							<div class="col-md-6">
								<ul class="fa-ul">
									<li><i class="fa fa-gg"></i> Identificar y analizar los procesos involucrados en el
										sistema de información.
									</li>
									<li><i class="fa fa-gg"></i> Identificar las características y requerimientos del
										sistema de información.
									</li>
									<li><i class="fa fa-gg"></i>Diseñar el sistema en base a los requerimientos.
									</li>
									<li><i class="fa fa-gg"></i> Diseñar la base de datos en base a los requerimientos.
									</li>
									<li><i class="fa fa-gg"></i> Establecer un canal de comunicación directa con los
										clientes.

									</li>
								</ul>
							</div> <!-- /.col -->

							<div class="col-md-6">
								<ul class="fa-ul">
									<li><i class="fa fa-gg"></i> Manejo de la información sobre productos en existencia
										y vendidos.
									</li>
									<li><i class="fa fa-gg"></i> Desarrollar de un sitio web para el manejo de pedidos y
										despachos.
									</li>
									<li><i class="fa fa-gg"></i> Desarrollar los módulos de la aplicación.
									</li>
									<li><i class="fa fa-gg"></i> Implementar la aplicación.</li>
									<li><i class="fa fa-gg"></i>Validar y documentar el proceso de desarrollo del
										software.
									</li>
								</ul>
							</div> <!-- /.col -->

						</div> <!-- /.row -->
					</div> <!-- /.col -->

				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</section>

		<!-- about section end -->
		<section class="">
			<div class="container">
				<div class="row">

					<div class="col-md-7">
						<h2 class="kaushan mb40 " style="color: #fec323;">Alcance del proyecto</h2>
						<div class="row">

							<div class="col-md-6">
								<ul class="fa-ul">
									<li><i class="fa fa-gg"></i> Desarrollar un sistema de información para el proceso
										de comercialización y posicionamiento</li>
									<li><i class="fa fa-gg"></i> Generar y aumentar la estabilidad financiera</li>
									<li><i class="fa fa-gg"></i> Tener un mejor control sobre el inventario</li>
								</ul>
							</div> <!-- /.col -->

							<div class="col-md-6">
								<ul class="fa-ul">
									<li><i class="fa fa-gg"></i> Adquirir una expansión comercial de la empresa</li>
									<li><i class="fa fa-gg"></i> Almacenar información de los clientes y administrarlos
										según convenga</li>
									<li><i class="fa fa-gg"></i> Desarrollar un sistema que cuente con una interfaz
										minimalista, eficiente y amigable con los usuarios</li>
								</ul>
							</div> <!-- /.col -->

						</div> <!-- /.row -->


					</div> <!-- /.col -->

					<div class="col-md-4">
						<img src="../../assets/images/team/alcance.jpg" alt="TeamIllustration"
							class="img-responsive mt3">
					</div> <!-- /.col -->

				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</section>

		<section class="t-pad60 " style="margin-bottom: 100px;">
			<div class="container">
				<div class="row">

					<div class="col-md-4">
						<img src="../../assets/images/team/beneficio.PNG" alt="TeamIllustration"
							class="img-responsive mt3" style="border-radius: 10px;">
					</div>

					<div class="col-md-7">
						<h2 class="kaushan mb40 " style="color: #fec323;">Beneficiarios del proyecto</h2>

						<div class="row">

							<div class="col-md-6">
								<ul class="fa-ul">
									<li><i class="fa fa-gg"></i> Gerentes de la empresa Artesanías Maestro Dukón</li>
									<li><i class="fa fa-gg"></i> Clientes internacionales y naciones</li>
									<li><i class="fa fa-gg"></i> Región y sus alrededores</li>
								</ul>
							</div> <!-- /.col -->

							<div class="col-md-6">
								<ul class="fa-ul">
									<li><i class="fa fa-gg"></i> Deficiencia en el proceso de ventas</li>
									<li><i class="fa fa-gg"></i> Artesanos y artesanas de la región</li>
									<li><i class="fa fa-gg"></i> Resocialización de los internos del INPEC</li>
								</ul>
							</div> <!-- /.col -->

						</div> <!-- /.row -->


					</div> <!-- /.col -->

					<!-- /.col -->

				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</section>
		<section class="">
			<div class="container">
				<div class="row">

					<div class="col-md-7">
						<h2 class="kaushan mb40 " style="color: #fec323;">Impacto</h2>
						<p><Strong>Social:</Strong>Mejoramiento de la comunicación con los clientes y generar fuentes de
							empleo para los internos del INPEC de San Gil</p>
						<p><STRONG>Económicos:</STRONG>Incremento de ganancias económicas para la empresa de artesanías
							Maestro Dukón</p>
						<p><STRONG>Ambiental:</STRONG>Disminución en el uso de papel para el proceso de recolección de
							información y tratamiento de esta en cuanto a productos y clientes. Al posicionar y hacer
							conocer la empresa se incentiva a las buenas prácticas de manejo de recursos naturales,
							debido a los procesos y calidad de la materia prima certificada</p>

						<p><STRONG>Tecnológicos:</STRONG>optimizar los procesos de comercialización y capacitación a los
							gerentes sobre el uso y el buen manejo de las Tics para la empresa</p>


					</div> <!-- /.row -->

					<img src="../../assets/images/team/impacto.webp" style="width: 350px; height: 350px;">

				</div> <!-- /.col -->
				l

			</div> <!-- /.col -->

	</div> <!-- /.row -->
	</div> <!-- /.container -->
	</section>
	<section class="t-pad60 " style="margin-bottom: 100px;">
		<div class="container">
			<div class="row">

				<div class="col-md-4">
					<img src="../../assets/images/team/riesgo.jpg" alt="TeamIllustration" class="img-responsive mt3"
						style="border-radius: 10px;">
				</div>
				<div class="col-md-7">
					<h2 class="kaushan mb40 " style="color: #fec323;">Riesgos</h2>
					<div class="row">

						<div class="col-md-6">
							<ul class="fa-ul">
								<li><i class="fa fa-gg"></i> Inestabilidad en el manejo de la tecnología</li>
								<li><i class="fa fa-gg"></i> Resistencia al cambio tecnológico</li>
								<li><i class="fa fa-gg"></i>Insatisfección de los clientes</li>
							</ul>
						</div> <!-- /.col -->

						<div class="col-md-6">
							<ul class="fa-ul">
								<li><i class="fa fa-gg"></i>Deterioro de herramientas de cómputo </li>
								<li><i class="fa fa-gg"></i>Falla en los servicios complementarios(internet y luz) </li>
								<li><i class="fa fa-gg"></i>Falla de interés para continuar con el proyecto </li>
							</ul>
						</div> <!-- /.col -->

					</div> <!-- /.row -->


				</div> <!-- /.col -->

				<!-- /.col -->

			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</section>

	<!-- footer start -->
	<footer>
		<div class="footer pad60 ">
			<div class="container ">
				<div class="row ">
					<div class="col-md-3 col-sm-6 ">
						<h3 class="f-title">Que Hacemos</h3>
						<!-- <img src="assets/images/logo/logoA (2).png" alt="" class="footer-logo"> -->
						<p>Elabora productos de mobiliario y decoración ecológicos, tejidos a mano en fique (fibra
							natural vegetal), cultivado tradicionalmente por campesinos de la región y tinturado con
							productos no contaminantes, tejidos en estructuras de madera (Móncoro Negro)</p>

					</div> <!-- /.col -->
					<div class="col-md-3 col-sm-6">
						<h3 class="f-title">Nuestra Producción</h3>


						<div class="quick-links">
							<p>La línea de producción de Artesanías Maestro Dukon está compuesta por, productos
								decorativos para el hogar, oficina, restaurante etc., fabricados en Madera y Fique.
							</p>
							<ul>
								<!--<li><a href="#">Home</a></li>  -->
								<!--<li><a href="#">Ingreso</a></li> -->
								<!--<li><a href="#">Nuestro Proyecto</a></li> -->
								<!--<li><a href="#">Grupo Ejecutor</a></li> -->
								<!--html><li><a href="#">Service</a></li> </html-->
								<!--html><li><a href="#">Faq</a></li></html-->
								<!--html><li><a href="#">Projects</a></li></html-->
								<!--html><li><a href="#">Buttons</a></li></html-->
								<!--html><li><a href="#">Contact</a></li></html-->
								<!--html><li><a href="#"> </a></li></html-->
							</ul>
						</div>
					</div> <!-- /.col -->
					<div class="col-md-3 col-sm-6">
						<h3 class="f-title">Nuestros Productos</h3>
						<div class="f-gallery">
							<p>* Sillas Plegables</p>
							<p> * Mesas Plegales / Auxiliares</p>
							<p>*Biombos</p>
							<p>* Tripticos - Tapices </p>
							<p>* Lámparas</p>
							<p>* Comedores - Sillas Comedor</p>

							<!--<a href="assets/images/footer-gallery/img1.jpg" class="">
										<img src="assets/images/footer-gallery/img1.jpg" alt="">
									</a>
									<a href="assets/images/footer-gallery/img2.jpg" class="">
										<img src="assets/images/footer-gallery/img2.jpg" alt="">
									</a>
									<a href="assets/images/footer-gallery/img3.jpg" class="">
										<img src="assets/images/footer-gallery/img3.jpg" alt="">
									</a>
									<a href="assets/images/footer-gallery/img4.jpg" class="">
										<img src="assets/images/footer-gallery/img4.jpg" alt="">
									</a>
									<a href="assets/images/footer-gallery/img5.jpg" class="">
										<img src="assets/images/footer-gallery/img5.jpg" alt="">
									</a>
									<a href="assets/images/footer-gallery/img6.jpg" class="">
										<img src="assets/images/footer-gallery/img6.jpg" alt="">
									</a>
									<a href="assets/images/footer-gallery/img7.jpg" class="">
										<img src="assets/images/footer-gallery/img7.jpg" alt="">
									</a>
									<a href="assets/images/footer-gallery/img8.jpg" class="">
										<img src="assets/images/footer-gallery/img8.jpg" alt="">
									</a> -->
						</div>
					</div> <!-- /.col -->
					<div class="col-md-3 col-sm-6">
						<h3 class="f-title">CONTACTO</h3>
						<div class="f-address">
							<p><i class="fa fa-map-marker"></i>Cra 18 N° 12-10 San Gil, Santander</p>
							<!--<p><i class="fa fa-paper-plane"></i>(880) 777 4444</p> -->
							<p><i class="fa fa-envelope"></i>eltelarartesanias@gmail.com</p>
							<p><i class="fa fa-phone"></i>3183248191 - 3124470493</p>
						</div>
					</div> <!-- /.col -->
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.footer -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="t-center">
							<p> Artesanias Dukón - la Artesanía de Colombia <i class="fa fa-heart"></i> <a
									href="#">2021</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer end -->

	</div> <!-- /.main-container -->


	<!-- load jquery -->
	<!-- <script src="../assets/js/jquery-2.2.2.min.js"></script> -->
	<!-- load bootstrap -->
	<!-- <script src="../assets/js/bootstrap.min.js"></script> -->

	<!-- <script src="../assets/js/jquery.themepunch.revolution.min.js"></script> -->

	<!-- <script src="../assets/js/jquery.appear.js"></script> -->
	<!-- <script src="../assets/js/itl_script.js"></script> -->

	<!-- owl carousel js -->
	<!-- <script src="../assets/js/owl.carousel.min.js"></script> -->

	<!-- magnific popup js -->
	<!-- <script src="../assets/js/jquery.magnific-popup.min.js"></script> -->


</body>

</html>